APP_NAME="Laravel Translation API"
APP_ENV=local
APP_DEBUG=true
APP_PORT=8080
APP_URL=http://localhost:${APP_PORT}
APP_KEY=

LARAVEL_VERSION=^12.0
APP_IMAGE=lta-app-slim:latest
APP_CONTAINER_NAME=lta-app

MYSQL_IMAGE_TAG=8.3
MYSQL_HOST_PORT=3307
REDIS_HOST_PORT=6379
PHPMYADMIN_PORT=8081

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=translations
DB_USERNAME=root
DB_PASSWORD=secret

MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=translations

CACHE_STORE=redis
REDIS_HOST=redis
REDIS_PORT=6379

RUN_MIGRATIONS=false
RUN_SEED=false

SEED_TOTAL=5000
SEED_CHUNK=500
TEST_TOKEN=dummy
